.select-box {
    display: flex;
    width: 100%;
}
.select-style {
    width: 200px;
}
.search-line {
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: unset;
    border-radius: 4px;
    height: 30px;
    font-size: 16px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.search-line-focus {
    border: 1px solid #ced4da;
    border-radius: 4px;
}
.search-line:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 1px rgba(0,123,255,.25);
}
.button-search {
    color: #495057;
    padding: 0 10px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left: 1px solid #ced4da;
}
.wrap-crumbs-button {
    display: flex;
    position: relative;
}
.wrap-crumbs-button:hover {
    background: #d7edff;
    border-right: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
}
.wrap-crumbs-button:hover:after {
    content: "";
    border-right: 1px solid #ced4da;
    position: absolute;
    top: 0;
    right: 18px;
    height: 100%;
}
.crumbs-button {
    font-size: 14px;
    background: transparent;
    border: unset;
    color: #495057;
    cursor: pointer;
    padding: 2px 6px 2px 6px;
}
.wrap-container-bread-crumbs {
    display: flex;
    width: 100%;
    border: 1px solid #ced4da;
    flex: 1200px 0 1;
    border-radius: 4px;
}
.crumbs-arrow {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    padding: 0 6px;
    color: #495057;
    background: transparent;
    border: unset;
    transition: all 0.4s ease;
    position: relative;
    left: 2px;
    cursor: pointer;
}
.crumbs-arrow:focus{
    outline: unset;
}
.active {
    transform: rotateZ(90deg);
}
.folder-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0;
    max-width: 400px;
    width: 100%;
    max-height: 800px;
    overflow-y: auto;
}
.folder-group-name {
    position: relative;
    display: block;
    padding: 4px 4px 4px 26px;
    font-size: 16px;
    background-color: #f7f7f7;
    background-image: url("../../images/folder.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 2px center;
    cursor: pointer;
}
.wrap-container-crumbs-button {
    position: relative;
    display: inline-flex;
}
.crumbs-list-active {
    position: absolute;
    min-width: 300px;
    bottom: -56px;
    left: -26px;
}
.wrap-bread-crumbs-list {
    position: relative;
}